<h1>打ち間違えるなよ</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :メアド %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :合言葉 %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>　　初めて？なら場所間違えてるぞ、ここはログインだよ頭使え。 <%= link_to "こっから登録してこい", signup_path %></p>
  </div>
</div>