<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
            <%= @user.name %>
            </h1>
            <P>
                <% if current_user != @user %>
                    <% if current_user.following?(@user) %>
                        <%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST %>
                    <% else %>
                        <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
                    <% end %>
                <% end %>
            </p>                
        </section>
        <section>
        <div class="stats">
            <a href="<%= following_user_path(@user) %>">
                <strong id="follower" class="stat">
                <%= @user.follower.count %>
                </strong>
                フォロー
            </a>
            <a href="<%= followers_user_path(@user) %>">
                <strong id="followed" class="stat">
                <%= @user.followed.count %>
                </strong>
                フォロワー
            </a>
            <a href="<%= likes_path %>">
                 <strong id="likes" class="stat">
                 <%= @user.likes.count %>
                 </strong>
                                 いいね
            </a>

        </div>
        </section>        
    </aside>    
    <div class="col-md-8">
    <% if @user.tweets.any? %>
        <h3>ツイート一覧</h3>
        <ol class="tweets">
            <% @tweets.each do |tweet| %>
                <li id="tweet-<%= tweet.id %>">
                    <span class="user"><%= link_to tweet.user.name, tweet.user %></span>
                    <span class="content"><%= tweet.content %></span>
                    <span class="timestamp">
                        投稿日 <%= time_ago_in_words(tweet.created_at) %> 
                        <% if current_user?(tweet.user) %>
                         <%= link_to "編集", edit_tweet_path(tweet)%>
                         <%= link_to "削除", tweet, method: :delete,data: { confirm: "二言はないな？" } %>
                        <% end %>
                        <% if current_user.liked_by?(tweet.id) %>
                         <td>
                          <%= link_to '❤', unlike_path(tweet), method: :DELETE, remote: true %> 
                          <%= link_to tweet.likes.count, likees_path(tweet) %>
                         </td>
                        <% else %>
                         <td>
                          <%= link_to '♡', like_path(tweet), method: :POST, remote: true %>
                          <%= link_to tweet.likes.count, likees_path(tweet) %>
                         </td>
                        <% end %>
                    </span>    
                </li>
            <% end %>
        </ol>
    <% else %>
        <h3>ツイート一覧</h3>
            <% if current_user?(@user) %>
               <ul>ツイートしてみよっ！んなっ！！！</ul>
            <% else %>
               <ul>こいつ見る専だからないっぽい</ul>  
            <% end %>    
    <% end %>
    </div>
</div>         